.Project
  position relative
  margin 15px
  width 150px
  height 150px
  border 2px solid #BBB
  &:after
    content ''
    display block
    position absolute
    bottom -25px
    left 18px
    background #a9a9a9
    width 7px
    height 70px


.Project-author
  position absolute
  bottom -22px
  left 30px

.Project-title
  position absolute
  color #002029
  left 30px
  bottom 0px
  font-size 1.5em
