# system
*.log
.DS_Store

# node
node_modules

# config
config/database.js
config/codevember-firebase.json
config/old_codevember-firebase.json
config/codeTest.json

# build
public/build/*.js
public/build/*.css
public/build/*.map
