.Home-menu
  position absolute
  bottom 100px
  left 0
  padding-left 10px
  width 20vh
  font-family 'gotham medium'
  text-align right
  z-index 2
  font-size 1.3em
  a
    div
      margin-top 5px
      margin-bottom 5px
