.prompt-container{
  position: absolute;
  text-align: center;
  top: -10%;
  left: 0;
  font-size: 4em;
  user-select: none;
  pointer-events: none;
  transition: .3s all;
  width: 100%;
  opacity: 0;
  height: 100%;
}

.calendar{
  text-align: left;
  position: relative;
  width: 80%;
  margin: auto;
}
.calendar:after{
  content:'';
  display: block;
  clear:both;
}
.calendar-card{
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: inline-block;
  float:left;
  position: relative;
  background:radial-gradient(circle at 0 0, #00F99D 0, #00DBC7 100%);
  overflow: hidden;
}
.calendar-number{
  background: white;
  width:100px;
  height:100px;
  transition: .3s all;
}

.calendar-number > h2{
  text-align: center;
  line-height: 100px;
  transition: .3s all;
  margin:0;
}
.calendar-number:hover{
  width: 90px;
  height:90px;
  margin: 5px;
  > h2 {
    line-height: 90px;
  }
}

.year-selector{
  text-align: right;

  h4{
    display: inline-block;
    cursor: pointer;
    margin-right: 25px;
        margin-bottom: 8px;
    font-size: 2.5em;
    color:#bfbfbf;
    transition: all .4s;
  }
  .selected-year{
    color:#383838;
  }
}
.fadeIn{
  top:50%;
  transform: translate(0%,-50%);
  opacity:0.6 ;
}
