.prompt-container{
  position: fixed;
  text-align: center;
  top: 7%;
  left: 0;
  font-size: 4em;
  user-select: none;
  pointer-events: none;
  transition: .3s all;
  width: 100%;
  opacity: 0;
}

.calendar{
  text-align: left;
  position: relative;
  width: 70vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.calendar-item {
  width: 10vw;
  min-width: 50px;
  height: 10vw;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover .calendar-card-bg {
    transform: scale(0.86)
  }
}

.calendar-card{
  position: relative;
  background: red;
  width: 100%;
  height: 100%;
}

.calendar-card-gradient {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 0 0, #00F99D 0, #00DBC7 100%);
}

.calendar-card-bg {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-out
}

.calendar-card-number {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.after-calendar{
  width: 100%;
  &:after{
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}
.social{
  display: inline-block;
  float: left;
  margin-left: 5%;

  a {
    opacity: 0.2;
    transition: opacity 0.3s;
  }

  a:hover {
    opacity: 1;
  }

  h4{
    font-size: 2em;
  }
}
.year-selector{
  float: right;
  display: inline-block;

  h4 {
    display: inline-block;
    cursor: pointer;
    margin-right: 25px;
    margin-bottom: 8px;
    font-size: 2.5em;
    transition: all .4s;
    opacity: 0.2;
    border-bottom: solid 0px #005872;

    &:hover {
      opacity: 1;
    }
  }

  .selected-year{
    opacity: 1;
    &:after{
      content: '';
      display: block;
      width:10px;
      height: 10px;
      background: #3C3C3C;
      border-radius: 50px;
      margin-left:50%;

    }
  }
}
.fadeIn{
  top:50%;
  transform: translate(0%,-50%);
  opacity:0.6 ;
}
