.day-header {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  width: 100%;
  line-height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: white;

  h1 {
    display: inline-block;
  }

  .back-button {
    display: inline-block;
    opacity: 0.2;
    transition: opacity 0.3s;
    margin-right: 40px;
    font-size: 1.2em;

    &:hover {
      opacity: 0.8;
    }
  }
}

.project-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 120px auto 0 auto;
}

.project-cards {
  width: 17vw;
  margin-left: 5px;
  margin-right: 5px;
  transition: all .3s;
  overflow: hidden;

  &:hover {
    .project-image {

    }
  }

  .project-image {
    z-index: -1;
    box-shadow: grey 0px 0px 0px 0px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    background-color: #4d9aa9;
    margin: 0 auto;
    transition: all .5s;
    background-position: center;
  }

  .project-title {
    text-align: center;
    text-shadow: rgb(237, 237, 237) 0px 0 30px;

    h2 {
      margin-top: 10px;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0px;
      opacity: 0.4;
    }
  }
}
