.day-header {
  margin-top: 24px;
  margin-left: 20px;
  width: auto;
  line-height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;

  h1 {
    display: inline-block;
  }

  .back-button {
    display: inline-block;
    opacity: 0.2;
    transition: opacity 0.3s;
    margin-right: 40px;
    font-size: 1.2em;

    &:hover {
      opacity: 0.8;
    }
  }
}

.project {
  display: inline-block;
  margin-left: 20px;
}

.project-container {
  text-align: center;
  margin-top: 80px;
}

.project-cards {
  display: inline-block;
  text-align: left;
  width: 250px;
  padding: 20px;
  transition: all .3s;
  overflow: hidden;

  &:hover {
    .project-image {
      box-shadow: grey 0px 0px 20px 0px;
    }
  }

  .project-image {
    z-index: -1;
    margin-left: 50px;
    box-shadow: grey 0px 0px 0px 0px;
    overflow: hidden;
    height: 150px;
    width:150px;

    transition: all .5s;
    background-position: center;
  }

  .project-title {
    transform: translate(0%, 0px);
    text-align: center;
    text-shadow: rgb(237, 237, 237) 0px 0 30px;
  }
}
