.day-header {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  width: 100%;
  line-height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: white;

  h1 {
    display: inline-block;
  }

  .back-button {
    display: inline-block;
    opacity: 0.2;
    transition: opacity 0.3s;
    margin-right: 40px;
    font-size: 1.2em;

    &:hover {
      opacity: 0.8;
    }
  }
}

.project-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 120px auto 0 auto;
}

.project-cards {
  width: 16vw;
  margin: 5px;
  transition: all .3s;
  overflow: hidden;

  &:hover {
    .project-title h4 {
      transform: translateY(0);
      opacity: 0.4;
    }

    .project-image {
      border-width: 8px;
    }
  }

  .project-image {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 15vw;
    background-color: #4d9aa9;
    margin: 0 auto;
    background-position: center;
    border: 0px solid blue;
    transition: all .2s;
  }

  .project-title {
    text-shadow: rgb(237, 237, 237) 0px 0 30px;
    text-align: center;

    h2 {
      margin-top: 10px;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0px;
      opacity: 0;
      transform: translateY(-20px);
      transition: all .3s ease-out;
    }
  }
}
