@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');

$textColor: #FFF;

html, body {
  margin: 0;
  padding: 0;

  background: #1a1a1a;
}

#app {
  position: relative;
  font-family: 'Montserrat';
  color: $textColor;
  background: #1a1a1a;
}
a{
  text-decoration: none;
  color: $textColor;
}

h1{
  font-weight:800;
}
h2, h3,h4{
  font-weight:600;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  display: block;
  border: 0;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 10px;
  font-size: 1.3em;
  width: 300px;
  outline: none;
}

select {
  font-size: 1em;
}

button {
  border: 0;
  padding: 15px 30px;
  margin: 0 0 20px;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: lightgrey;
  border-radius: 5px;
}
