<div class="DaySelector">
  <ul ref="list">
    <li v-for="n in 30" class="spacer">---</li>
    <li v-for="n in 30"
      :class="{
        'isActive': (n == currentDay),
        'beforeActive': (n == currentDay - 1),
        'afterActive': (n == currentDay + 1),
        'hidden': (n > currentDay),
        'spacer': (n > maxDay)
      }"
      :style="{ opacity: n/currentDay + 0.1 }"
    >
      <router-link :to="{ name: 'home', params: { day: n } }">#Day {{ n }}</router-link>
    </li>
  </ul>
</div>
