<div class="ProjectList">
  <Project :slug="contrib.slug" :title="contrib.title" :author="contrib.author" :image="contrib.image" v-for="contrib in contribs"></Project>
  <Project :slug="contrib.slug" :title="contrib.title" :author="contrib.author" :image="contrib.image" v-for="contrib in contribs"></Project>
  <Project :slug="contrib.slug" :title="contrib.title" :author="contrib.author" :image="contrib.image" v-for="contrib in contribs"></Project>
  <Project :slug="contrib.slug" :title="contrib.title" :author="contrib.author" :image="contrib.image" v-for="contrib in contribs"></Project>
  <Project :slug="contrib.slug" :title="contrib.title" :author="contrib.author" :image="contrib.image" v-for="contrib in contribs"></Project>
</div>
