/*======================================================================
    MIXINS & EXTENDS
======================================================================*/
@import "~stylus-media-queries"
@import "~stylus-easing"
@import "~stylus-reset"
@import "~brindille-stylus-extends"

@import "./config/**/*"

/*======================================================================
    BASE
======================================================================*/
reset()

html
  @extend .full-size
  background white
  color dark-blue
  overflow-x hidden
  overflow-y scroll

body,
#app
  @extend .full-size-relative

#symbols
  display none

a
  text-decoration none

input[type="text"],
input[type="email"],
input[type="password"],
select
  display block
  border 0
  border solid 1px #ccc
  border-radius 3px
  padding 10px
  font-size 1.3em
  width 300px
  outline none

  &:focus
    border-color light-blue

select
  font-size 1em

button
  @extend .font-medium
  border 0
  background medium-blue
  padding 15px 30px
  margin 0 0 20px
  font-size 1.2em
  text-transform uppercase
  cursor pointer
  color white
  border-radius 5px

/*======================================================================
    COMPONENTS
======================================================================*/
@import "../components/**/*"
@import "../layouts/**/*"
@import "../views/**/*"
