/*======================================================================
    MIXINS & EXTENDS
======================================================================*/
@import "~stylus-media-queries"
@import "~stylus-easing"
@import "~stylus-reset"
@import "~brindille-stylus-extends"

@import "./config/**/*"

/*======================================================================
    BASE
======================================================================*/
reset()

html
  @extend .full-size
  background black
  color white
  overflow-x hidden
  overflow-y scroll

body,
#app
  @extend .full-size-relative

#symbols
  display none

a
  text-decoration none



/*======================================================================
    COMPONENTS
======================================================================*/
@import "../components/**/*"
@import "../layouts/**/*"
@import "../views/**/*"
