<div class="About">
  <div class="About-header">
    <h1><img src="/assets/images/logo.png" alt="Codevember" /></h1>
    <h2>30 days, 30 creative experiments</h2>
    <p>
      Codevember is a challenge for developers making a creative sketch by day during the whole month of November. It was created by <a href="https://twitter.com/Arth_Rob">Arthur Robert</a> and <a href="http://vdaguenet.fr">Valentin Daguenet</a>, from the genius idea of <a href="http://inktober.com/">InkTober</a>.
    </p>
  </div>
  <div class="About-content">
    <div class="About-rules">
      <h3>Rules</h3>
      <div class="About-rules-line"></div>
      <ol>
        <li>
          <span class="About-rules-number">1.</span>
          <div>Develop a creative experiment runable in a web browser with the technologies of your choice (CSS, Processing, WebGL, …)</div>
        </li>
        <li>
          <span class="About-rules-number">2.</span>
          <div>Upload your work on your favourite plateform (<a href="http://codepen.io">CodePen</a>, <a href="https://www.shadertoy.com">ShaderToy</a>, your own server, …)</div>
        </li>
        <li>
          <span class="About-rules-number">3.</span>
          <div>Share your work with us on twitter with the <b>#codevember</b> hashtag</div>
        </li>
        <li>
          <span class="About-rules-number">4.</span>
          <div>Repeat</div>
        </li>
      </ol>
    </div>
  </div>
</div>
