
<div class="Home">
  <div class="Home-left" v-if="!isMobile && !isTablet">
    <DaySelector :currentDay="$route.params.day"></DaySelector>
  </div>
  <div class="Home-main">
    <div class="Home-logo">
      <img src="/assets/images/logo.png" alt="Codevember" />
    </div>
    <ProjectList :contribs="contribs" v-if="hasContribs" ref="list"></ProjectList>
    <ProjectView :url="currentUrl" ref="iframe"></ProjectView>
    <div class="Home-error" v-if="!isLoading && !hasContribs">
      There are no contributions for this day yet.
    </div>
    <HomeLoader v-if="isLoading" ref="loader"></HomeLoader>
  </div>
</div>
