.Login
  @extend .full-size
  display flex
  align-items center
  justify-content center

  h2
    text-transform uppercase
    margin-bottom 30px
    font-size 3em

  &-form,
  &-logged
    text-align center

    input
      display block
      margin-bottom 10px

    button
      margin-top 20px

    p
      color red
