<div class="Login">
  <div class="Login-form" v-if="!isLogged">
    <h2>Login</h2>
    <input type="email" name="email" v-model="email" v-on:focus="clearError" placeholder="E-mail">
    <input type="password" name="password" v-model="password" v-on:focus="clearError" placeholder="Password">
    <button type="button" v-on:click="onSubmit">GO</button>
    <p>
      {{ error }}
    </p>
  </div>
  <div class="Login-logged" v-else>
    Your are already logged in.<br>
    <button type="button" v-on:click="signout">Sign out</button>
  </div>
</div>
